@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 80px; /* Adjust the value to match the padding-top value */
}
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.overlay-bg {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  @apply bg-white/70 dark:bg-gray-950/70;
}

@keyframes slideInRightAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRightAnimation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-slide-in-right {
  animation: slideInRightAnimation 0.2s ease-in-out forwards;
}

.animate-slide-out-right {
  animation: slideOutRightAnimation 0.2s ease-in-out forwards;
}

.animateMenu {
  scale: 0.005;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;

  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #7b00d3;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px;
  border-radius: 2px;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: absolute;
  right: 0;
  background-color: #7b00d3;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  border-end-start-radius: 4px;
}

[data-rehype-pretty-code-caption] {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}
